.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  background-color: yellowgreen;
}
.form {
  width: 450px;
  background: #fff;
  z-index: 3;
  margin: auto;
}
.fm {
  background-color: #fff;
}
form button {
  float: left;
}
.form ol li {
  text-align: start;
}
.delete button {
  float: right;
  background-color: green;
}
.delete button i {
  color: white;
}
.delete button:hover {
  background-color: red;
}
.delete li {
  padding-right: 10px;
}